
@{
    ViewBag.Title = "Income";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="col-lg-12 col-md-12 col-sm-12">
    <div class="showback">
        <div><h2 class="text-center">Income</h2></div>
        <div class="col-lg-12 col-md-12 mb-md-3">
            <div class="row">
                <div class="col-md-6 col-sm-6 mb-md-2">
                    <div class="form-inline pull-left">
                        <label class="col-sm-4 control-label">Type: </label>
                        <select id="amount" class="form-control col-xs-6">
                            <option value="all" selected="">All</option>
                            <option value="sold">Sold</option>
                            <option value="rented">Rental</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mb-md-2">
                    <div class="form-inline pull-right">
                        <label class="col-sm-4 control-label">month: </label>
                        <select class="col-sm-8 form-control">
                            <option value="January" selected="">January</option>
                            <option value="February">February</option>
                            <option value="March">March</option>
                            <option value="March">March</option>
                            <option value="May">May</option>
                            <option value="June">June</option>
                            <option value="July">July</option>
                            <option value="August">August</option>
                            <option value="September">September</option>
                            <option value="October">October</option>
                            <option value="November">November</option>
                            <option value="December">December</option>
                        </select>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 pull-left mb-md-2">
                    <div class="form-inline pull-left">
                        <label class="col-sm-6 control-label">rows/page: </label>
                        <select id="amount" class="form-control col-xs-6">
                            <option value="10" selected="">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 mb-md-2">
                    <div class="form-inline pull-right">
                        <label class="col-sm-4 control-label">Search:</label>

                        <input class="col-sm-8 form-control" id="filter" onkeyup="myFunction()" placeholder="search...">
                    </div>
                </div>
            </div>
        </div>

        <table class="table table-hover" id="tablec">
            <thead>
                <tr>
                    <td>#</td>
                    <td>Vehicle</td>
                    <td>Username</td>
                    <td>Date</td>
                    <td>Amount</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Jitender Citander</td>
                    <td>Jiteok</td>
                    <td>@DateTime.Now.AddDays(-7).ToLongDateString()</td>
                    <td>14,019</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Frencais Oliviere</td>
                    <td>Frencais3</td>
                    <td>@DateTime.Now.AddDays(-5).ToLongDateString()</td>
                    <td>10,019</td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-right"><b>Total:</b></td>
                    <td><b>211,230</b></td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
