
@{
    ViewBag.Title = "Survey";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}



    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="showback">
            <div><h5 class="excellent-header text-center">Excellent</h5></div>
            <div class="survey">
                <img src="/Images/img_6.jpg" class="img-circle" width="40">
                <span>Laura mackxwell</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_5.jpg" class="img-circle" width="40">
                <span>Rosee kil</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_3.jpg" class="img-circle" width="40">
                <span>Jo998</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/person_3.jpg" class="img-circle" width="40">
                <span>X-op09</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/hero_2.jpg" class="img-circle" width="40">
                <span>lieel</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="showback">
            <div><h5 class="good-header text-center">Good</h5></div>
            <div class="survey">
                <img src="/Images/img_6.jpg" class="img-circle" width="40">
                <span>Laura mackxwell</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_5.jpg" class="img-circle" width="40">
                <span>Rosee kil</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_3.jpg" class="img-circle" width="40">
                <span>Jo998</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/person_3.jpg" class="img-circle" width="40">
                <span>X-op09</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/hero_2.jpg" class="img-circle" width="40">
                <span>lieel</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="showback">
            <div><h5 class="satisfactory-header text-center">Satisfactory</h5></div>
            <div class="survey">
                <img src="/Images/img_6.jpg" class="img-circle" width="40">
                <span>Laura mackxwell</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_5.jpg" class="img-circle" width="40">
                <span>Rosee kil</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_3.jpg" class="img-circle" width="40">
                <span>Jo998</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/person_3.jpg" class="img-circle" width="40">
                <span>X-op09</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/hero_2.jpg" class="img-circle" width="40">
                <span>lieel</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
        <div class="showback">
            <div><h5 class="bad-header text-center">Bad</h5></div>
            <div class="survey">
                <img src="/Images/img_6.jpg" class="img-circle" width="40">
                <span>Laura mackxwell</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_5.jpg" class="img-circle" width="40">
                <span>Rosee kil</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="/Images/img_3.jpg" class="img-circle" width="40">
                <span>Jo998</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/person_3.jpg" class="img-circle" width="40">
                <span>X-op09</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
            <div class="survey">
                <img src="~/Images/hero_2.jpg" class="img-circle" width="40">
                <span>lieel</span><p class="pt-1">Available on the water of the main time that our hearsts will go to work</p>
                <hr>
            </div>
        </div>
    </div>
