@{
    ViewBag.Title = "Trial";
}

<div class="jumbotron">
    <form action="https://localhost:44355/api/vehicles" method="post">
        <input type="text" name="uname" />
        <input type="text" name="sname" />
        <button type="submit">Submit</button>
    </form>
</div>
<a href="https://localhost:44355/Controllers/Admin/StatisticsController.cs">https://localhost:44355/Controllers/Admin/StatisticsController.cs</a>